{% extends "base.html.twig" %}

{% block content %}
<div class="error-page">
    <h2 class="headline text-yellow"> {{ status_code }}</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> {{ status_text }}</h3>

      <p>
        We could not find the page you were looking for.
        Meanwhile, you may <a href="{{ path('dashboard_homepage') }}">{{ 'the_action.back'|trans }}</a>
      </p>

    </div>
    <!-- /.error-content -->
</div>
<!-- /.error-page -->
{% endblock %}
