{% extends "base.html.twig" %}

{% block content %}
<div class="error-page">
    <h2 class="headline text-yellow">404</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Désolé, mais la page que vous recherchez semble ne pas ou plus exister.</h3>

      <p>
        <a href="{{ path('dashboard_homepage') }}">{{ 'the_action.back'|trans }}</a>
      </p>

    </div>
    <!-- /.error-content -->
</div>
<!-- /.error-page -->
{% endblock %}
