{% extends "base.html.twig" %}

{% block content %}
<div class="error-page">
    <h2 class="headline text-red">500</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-red"></i> Une erreur est survenue. Merci de réessayer d'accéder ultérieurement à cette page.</h3>

      <p>
        <a href="{{ path('dashboard_homepage') }}">{{ 'the_action.back'|trans }}</a>
      </p>

    </div>
    <!-- /.error-content -->
</div>
<!-- /.error-page -->
{% endblock %}
