{% import "partials/_macros.html.twig" as macros %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} {{ 'title.page.edit_profile'|trans }}{% endblock %}

{% block title_page %}{{ 'title.page.edit_profile'|trans }}{% endblock %}

{% block fos_user_content %}

{{ macros.back_to_page(path('fos_user_profile_show')) }}

{% include "FOSUserBundle:Profile:edit_content.html.twig" %}

{% endblock fos_user_content %}
