{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form) }}

<div class="row">
  <div class="col-md-9">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'title.block.informations'|trans }}</h3>
      </div>
      <div class="box-body">
        {{ form_errors(form) }}

        <div class="row">
            <div class="col-sm-2">
                {{ form_row(form.gender) }}
            </div>
            <div class="col-sm-5">
                {{ form_row(form.firstname) }}
            </div>
            <div class="col-sm-5">
                {{ form_row(form.lastname) }}
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">{{ form_row(form.birthday) }}</div>
          <div class="col-md-6">{{ form_row(form.phoneMobile) }}</div>
        </div>

        <div class="row">
          <div class="col-md-3">{{ form_row(form.winamax) }}</div>
          <div class="col-md-9">{{ form_row(form.quote) }}</div>
        </div>

      </div><!-- /.box-body -->
    </div>

    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'title.block.authentification'|trans }}</h3>
      </div>
      <div class="box-body">
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword) }}
      </div><!-- /.box-body -->
    </div>
  </div>

  <div class="col-md-3">
    <div class="box box-primary">
     <div class="box-header with-border">
          <h3 class="box-title">{{ 'title.block.actions'|trans }}</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <button class="btn btn-primary btn-flat btn-block btn-lg" type="submit">{{ 'the_action.submit'|trans }}</button>
      </div>
    </div>

    {% include 'avatar/_form.html.twig' %}

    {{ form_end(form) }}
  </div>

</div>
