{% import "partials/_macros.html.twig" as macros %}
{% trans_default_domain 'FOSUserBundle' %}

<div class="row" id="show-user-profile">
    <div class="col-md-8">
        {% if user.endDateSubscription %}
            <p class="well well-sm"> <strong>{{ 'profile.label.end_date_subscription'|trans }} : {{ user.endDateSubscription|date('d/m/Y') }} {{ displayStatusBullet( user.isMember())|html }}</strong></p>
        {% endif %}

        <p><strong>{{ 'title.block.informations'|trans }}</strong> </p>

        <dl class=" dl-horizontal">
            <dt>{{ 'profile.label.gender'|trans }}</dt>
            <dd>{{ user.gender ? user.gender : '~' }}</dd>
            <dt>{{ 'profile.label.lastname'|trans }}</dt>
            <dd>{{ user.lastname ? user.lastname : '~' }}</dd>
            <dt>{{ 'profile.label.firstname'|trans }}</dt>
            <dd>{{ user.firstname ? user.firstname : '~' }}</dd>
            <dt>{{ 'profile.label.birthday'|trans }}</dt>
            <dd>{{ user.birthday ? user.birthday|date('d/m/Y') : '~' }}</dd>
            <dt>{{ 'profile.label.username'|trans }}</dt>
            <dd>{{ user.username }}</dd>
            <dt>{{ 'profile.label.email'|trans }}</dt>
            <dd>{{ user.email }}</dd>
            <dt>{{ 'profile.label.phone_mobile'|trans }}</dt>
            <dd>{{ user.phoneMobile ? user.phoneMobile : '~' }}</dd>
            <dt>{{ 'profile.label.winamax'|trans }}</dt>
            <dd>{{ user.winamax ? user.winamax : '~' }}</dd>
            <dt>{{ 'profile.label.quote'|trans }}</dt>
            <dd>{{ user.quote ? user.quote : '~' }}</dd>
        </dl>

        <p><a href="{{ path('fos_user_profile_edit') }}">Modifier mes informations <i class="fa fa-edit"></i></a>
    </div>

    <div class="col-md-4">
        {% if user.avatar %}
            <p class="pull-right"><img src="{{ user.avatar.getWebPath | imagine_filter('core_medium') }}" class="img-thumbnail" /></p>
        {% endif %}
    </div>

</div>
