{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} {{ 'title.page.my_account'|trans }}{% endblock %}

{% block title_page %}{{ 'title.page.my_account'|trans }}{% endblock %}

{% block fos_user_content %}
<div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header with-border">
            <i class="fa fa-fw fa-user"></i>
            <h3 class="box-title">{{ app.user.username }}</h3>
            <div class="box-tools pull-right">
              {{ 'profile.label.last_login'|trans ~ ' : ' ~ app.user.lastLogin|date('d/m/Y H:i') }}
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
                </div>
            </div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- ./col -->
</div>
{% endblock fos_user_content %}
