{% import "partials/_macros.html.twig" as macros %}
{{ form_start(form) }}

<div class="row">
  <div class="col-md-9">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'title.block.informations'|trans }}</h3>
      </div>
      <div class="box-body">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.color) }}
      </div><!-- /.box-body -->
    </div>
  </div>

  <div class="col-md-3">
    <div class="box box-primary">
     <div class="box-header with-border">
          <h3 class="box-title">{{ 'title.block.actions'|trans }}</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <button class="btn btn-primary btn-flat btn-block btn-lg" type="submit">{{ 'the_action.submit'|trans }}</button>
      </div><!-- /.box-body -->
    </div>

    {{ form_end(form) }}

    {% if is_granted('ROLE_OFFICE') and category is defined %}
      {{ macros.box_form_delete(path('app_category_delete', {'slug': category.slug})) }}
    {% endif %}
  </div>
</div>
