{% if categories|length %}
    <h4 class="h4Dashboard">Légende</h4>

    <table class="table table-bordered mt10">
        {% for category in categories %}
            <tr  cellspacing="2">
                <td width="40" bgcolor="{{ category.color }}"></td>
                <td>{{ category.name|upper }}</td>
            </tr>
        {% endfor %}
    </table>

{% endif %}
