{% import "partials/_macros.html.twig" as macros %}
<table class="table table-hover">
  <thead>
    <tr>
      <th width="60"></th>
      <th>{{ 'category.label.name'|trans }}</th>
      <th class="col-sm-1">Actions</th> 
    </tr>
  </thead>
  <tbody>
    {% for entity in entities %}
      <tr>
        <td><div style="width:40px;height:10px;background-color: {{ entity.color }}"> </div></td>
        <td>{{ entity.name|upper }}</td>
        <td><a class="btn btn-block btn-sm btn-info" href="{{ path('app_category_edit', {'slug': entity.slug}) }}"><i class="fa fa-edit"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
