{% import "partials/_macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'category.title.create'|trans }} {% endblock %}

{% block title_page %}{{ 'category.title.create'|trans }}{% endblock %}

{% block content %}
{{ macros.back_to_page(path('app_category_index')) }}

<div class="row">
  <div class="col-md-12">
    {% include 'category/_form.html.twig' %}
  </div>
</div>
{% endblock %}
