{% for label, messages in app.flashes() %}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-dismissible alert-{{ label }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% for message in messages %}
                {{ message|trans }} <br />
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
