<!-- Main Header -->
  <header class="main-header">
    
    <a href="{{ path('dashboard_homepage')}}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>{{ club_name|truncate(1, false, '') }}</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">{{ club_name }}</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="{{ path('fos_user_profile_show') }}" class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-xs">{{ 'title.page.my_account'|trans }}</span>
            </a>

            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">  
                <p>
                  <a href="{{ path('fos_user_profile_show') }}">{{ app.user.displayName }}</a>
                </p>

              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">{{ 'title.page.my_account'|trans }}</a>
                </div>
                <div class="pull-right">
                  <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger btn-flat">{{ 'the_action.logout'|trans }}</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
