{% macro back_to_page(link) %}
<div class="row row--margin-bottom">
    <div class="col-md-12 ">
        <a href="{{ link }}" class="pull-left btn btn-default">
          <i class="fa fa-fw fa-chevron-left"></i> {{ 'the_action.back'|trans }}
        </a>
    </div>
</div>
{% endmacro %}

{% macro displayAuthor(createdBy, createdAt, class = null) %}
    <p {{ class is not null ? 'class="' ~ class ~ '"' : ''}}>{{ 'createdby'|trans }} {{ createdBy }} le {{ createdAt|date('d/m/Y') }}</p>
{% endmacro %}

{% macro list_numbers_results(nbResults) %}
<span class="pull-left">{{ 'total_results'|transchoice(nbResults) }}</span>
{% endmacro %}

{% macro date_updated(date, user = null) %}
<span class="pull-right label label-default">{{ 'the_action.updated_at'|trans }} {{ date|date('d/m/Y H:i')}} {{ user is not null ? 'par' ~ user : '' }}</span>
{% endmacro %}

{% macro box_form_delete(link, title = null) %}
<div class="box box-danger collapsed-box">
  <div class="box-header with-border">
    <h3 class="box-title">{{ title is null ? 'title.block.delete'|trans : null }}</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
    </div>
  </div>
  <div class="box-body">
    <form action="{{ link }}" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button data-toggle=confirmation title="{{ 'confirm.are_you_sure'|trans }}" class="btn btn-block btn-danger" data-btn-ok-label="{{ 'confirm.yes'|trans }}" data-btn-cancel-label="{{ 'confirm.no'|trans }}" type="submit"><i class="fa fa-fw fa-remove"></i>{{ 'the_action.delete'|trans }}</button>
    </form>
  </div>
</div>
{% endmacro %}

{% macro widget_homepage(icon, link, title, number = null, linkAdd = null, color = "green") %}
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-{{ color }}"><i class="fa {{ icon }}"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">
            <a href="{{ link }}">{{ title|trans }}</a>
            {% if linkAdd is not null and is_granted('ROLE_ADMIN') %}
              <a href="{{ linkAdd }}" class="pull-right"><i class="fa fa-plus-square"></i></a>
            {% endif %}
            </span>
            {{ number is not null ? '<span class="info-box-number">' ~ number ~ '</span>' : '' }}
        </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
</div>
{% endmacro %}

{% macro widget_homepage_two(icon = null, link, title, number = null, color = "green", subtitle = "the_action.see_more") %}
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-{{ color }}">
    <div class="inner">
      <h3>{{ number }}</h3>

      <p>{{ title|trans }}</p>
    </div>
    {% if icon is not null %}
    <div class="icon">
      <i class="ion ion-{{ icon }}"></i>
    </div>
    {% endif %}
    {% if link is not null %}
        <a href="{{ link }}" class="small-box-footer">
          {{ subtitle|trans }} <i class="fa fa-arrow-circle-right"></i>
        </a>
    {% else %}
        <a href="#" class="small-box-footer"> <i class="fa fa-calendar"></i></a>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro form_button_validate(link, entity_id, status, class = "btn-validate") %}
<a href="#" data-route="{{ link }}" class="{{ class }}" data-toggle=confirmation title="{{ 'confirm.are_you_sure'|trans }}" data-btn-ok-label="{{ 'confirm.yes'|trans }}" data-btn-cancel-label="{{ 'confirm.no'|trans }}">
<span class="td_{{ entity_id }}">{{ displayStatus(status)|html }}</span>
</a>
{% endmacro %}

{% macro box_form_delete_button(link) %}
<form action="{{ link }}" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button data-toggle=confirmation title="{{ 'confirm.are_you_sure'|trans }}" class="btn btn-sm btn-danger" data-btn-ok-label="{{ 'confirm.yes'|trans }}" data-btn-cancel-label="{{ 'confirm.no'|trans }}" type="submit"><i class="fa fa-fw fa-trash"></i></button>
</form>
{% endmacro %}

{% macro send_alert_button(link) %}
  <a href="{{ link }}" class="" data-toggle=confirmation title="{{ 'confirm.are_you_sure'|trans }}" title="Envoyer une alerte"  data-btn-ok-label="{{ 'confirm.yes'|trans }}" data-btn-cancel-label="{{ 'confirm.no'|trans }}"><i class="fa fa-envelope-o"></i></a>
{% endmacro %}

{% macro show_help(text) %}
<a href="#" data-toggle="popover" title="Aide" data-trigger="focus" data-placement="top" data-content="{{ text }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
{% endmacro %}

{% macro embed_googlemap(address, name = '') %}
  <script src="https://maps.googleapis.com/maps/api/js?key={{ apiKeyGoogle }}"></script>
  <script>
      function initMap() {
        var myLatLng = {lat: {{ address.latitude }}, lng: {{ address.longitude }} };
        var map = new google.maps.Map(document.getElementById('embed-map'), {
          zoom: 17,
          center: myLatLng
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'test'
        });
      }
      google.maps.event.addDomListener(window, 'load', initMap);
  </script>
{% endmacro %}


{% macro show_ajax_page(link, title) %}
    <a class="modal-show" href="#" data-route="{{ link }}" data-title="{{ title|upper }}">{{ title|upper }} <i class="fa fa-info-circle" aria-hidden="true"></i></a>
{% endmacro %}
{% macro box_form_remove_session(link, marginTop = false) %}
<form action="{{ link }}" method="POST" class="{% if marginTop == true %}mt10{% endif %}">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-block btn-default btn-sm btn-flat" type="submit"><i class="fa fa-fw fa-refresh"></i>{{ 'the_action.reset'|trans }}</button>
</form>
{% endmacro %}
