<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel -->
    <div class="user-panel user-panel-app">

        <div class="pull-left image">
          <img src="{{ app.user.getWebPathUserAvatar | imagine_filter('core_logo') }}" alt="{{ app.user.displayName }}">
        </div>

        <div class="pull-left info">
            <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-circle text-success"></i> {{ app.user.displayName|upper }}</a>
        </div>
    </div>

    {% include "partials/_sidebar-menu.html.twig" %}

  </section>
  <!-- /.sidebar -->
</aside>
