<!-- Sidebar Menu -->
<ul class="sidebar-menu">
    <li class="header">{{ 'title.block.menu'|trans }}</li>
        <li {% if app.request.attributes.get('_route') starts with 'dashboard_' %}class="active"{% endif %}><a href="{{ path('dashboard_homepage')}}"><i class="fa fa-calendar" aria-hidden="true"></i> <span>{{ 'title.page.agenda'|trans }}</span></a></li>
    {% if is_granted('ROLE_OFFICE') %}
        <li class="header">Administration</li>
        <li {% if app.request.attributes.get('_route') starts with 'app_event_' %}class="active"{% endif %}><a href="{{ path('app_event_index')}}"><i class="fa fa-calendar" aria-hidden="true"></i> <span>{{ 'title.page.events'|trans }}</span></a></li>
        <li {% if app.request.attributes.get('_route') starts with 'app_users_' %}class="active"{% endif %}><a href="{{ path('app_users_index')}}"><i class="fa fa-users" aria-hidden="true"></i> <span>{{ 'title.page.users'|trans }}</span></a></li>
    {% endif %}
</ul>
<!-- /.sidebar-menu -->
