<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{{ app_title }} {% block title %}| {% endblock %}</title>
        
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset(css_app_vendors) }}">
            <link rel="stylesheet" href="{{ asset(css_app) }}">
        {% endblock %}
        {% block javascripts_heads %}
            <script type="text/javascript" src="{{ asset('dist/js/jquery.min.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]--> 
        {% block embeb_googlemap '' %}
    </head>
    
    {% block body %}
    <body id="{% block bodyId %}{% endblock %}" class="{% block body_class %}hold-transition skin-red sidebar-mini{% endblock %}">
        {% block wrapper %}
            <div class="wrapper">
                {% if app.user %}
                {% include "partials/_header.html.twig" %}
                {% include "partials/_sidebar.html.twig" %}
                {% endif %}

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                      <h1>{% block title_page 'title.page.dashboard'|trans %}</h1>
                    </section>

                    <!-- Main content -->
                    <section class="content">
                        {% include "partials/_flash-messages.html.twig" %}
                        {% block content %}{% endblock %}
                    </section>
                    <!-- /.content -->
                </div>

                <footer class="main-footer">

                    <div class="pull-right hidden-xs">
                        <strong>{{ "now"|date('Y') }}</strong>
                    </div>

                   {{ club_name|upper }} | <i class="fa fa-phone" aria-hidden="true"></i> {{ club_phone }} | <i class="fa fa-envelope" aria-hidden="true"></i> {{ club_email }}
                </footer>

                <!-- /.content-wrapper -->
                <a href="#top" id="toTop"></a>
            </div> <!-- .wrapper -->
        {% endblock %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset(js_app_vendors) }}"></script>
            <script type="text/javascript" src="{{ asset(js_app) }}"></script>
        {% endblock %}
    </body>
    {% endblock %}
</html>
