<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">{{ 'title.block.avatar'|trans }}</h3>
    {% if form.avatar.remove_pic is defined %}
    <div class="box-tools pull-right">
      {{ form_row(form.avatar.remove_pic) }}
    </div>
    {% endif %}
  </div>
  <div class="box-body">
    {{ form_row(form.avatar.tmpFile) }}
    {% set avatar = null %}
    {% if form.vars.value is not null and form.vars.value.avatar is not null %}
        {% set avatar = form.vars.value.avatar %}
    {% endif %}

    {% if avatar is not null %}
      <p class="bloc-picture text-center">
        <img src="{{ avatar.getWebPath | imagine_filter('core_medium') }}" />
      </p>
    {% endif %}
  </div><!-- /.box-body -->
</div>
