{% extends "user/public-forms.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} {{ 'layout.register'|trans }} {% endblock %}

{% block fos_user_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="login-logo">
                <a href="{{ path('dashboard_homepage') }}"><b>{{ app_title }}</b></a>
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ 'title.page.register'|trans }}</h3>
                </div>
                <div class="box-body">
                    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                </div>
                <div class="box-footer clearfix">
                    {% if targetUrl %}
                        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                    {% else %}
                        <a href="{{ path('dashboard_homepage') }}">{{ 'title.page.home'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
