{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    
    <h3 class="box-title">{{ 'title.block.informations'|trans }}</h3>
    <div class="row">
        <div class="col-sm-2">
            {{ form_row(form.gender) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(form.lastname) }}
        </div>
    </div>

    <div class="row">
      <div class="col-md-6">{{ form_row(form.birthday) }}</div>
      <div class="col-md-6">{{ form_row(form.phoneMobile) }}</div>
    </div>

    <hr />

    <h3 class="box-title">{{ 'title.block.authentification'|trans }}</h3>
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword) }} 

    <hr />

    <div class="mt10">
        <input type="submit" class="btn btn-primary btn-block btn-flat" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
{{ form_end(form) }}
