{% extends "user/public-forms.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} {{ 'title.page.register'|trans }} {% endblock %}

{% block fos_user_content %}
<div class="register-box">
  <div class="register-logo">
    <a href="{{ path('dashboard_homepage') }}">{{ app_title }}</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">{{ 'title.page.register'|trans }}</p>

    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    
    <br />
    <a href="{{ path('fos_user_security_login') }}" class="text-center">{{ 'title.link.user_already'|trans }}</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
{% endblock fos_user_content %}
