{% import "partials/_macros.html.twig" as macros %}
{{ form_start(form) }}

<div class="row">
  <div class="col-md-9">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'title.block.informations'|trans }}</h3>
      </div>
      <div class="box-body">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}

        <div class="row">
            <div class="col-md-2">{{ form_row(form.number) }}</div>
            <div class="col-md-10">{{ form_row(form.streetName) }}</div>
        </div>

        {{ form_row(form.complement) }}

        <div class="row">
            <div class="col-md-4">{{ form_row(form.zipcode) }}</div>
            <div class="col-md-8">{{ form_row(form.city) }}</div>
        </div>

      </div><!-- /.box-body -->
    </div>
  </div>

  <div class="col-md-3">
    <div class="box box-primary">
     <div class="box-header with-border">
          <h3 class="box-title">{{ 'title.block.actions'|trans }}</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <button class="btn btn-primary btn-flat btn-block btn-lg" type="submit">{{ 'the_action.submit'|trans }}</button>
      </div><!-- /.box-body -->
    </div>

    {{ form_end(form) }}

    {% if address is defined and address.longitude is not null and address.latitude is not null %}
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ 'title.block.informations'|trans }}</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          {% if address.isFullAddress %}
            {% block embeb_googlemap %}  {{ macros.embed_googlemap(address) }}{% endblock %}
              <div id="property-map">
                  <div id="embed-map"></div>
              </div>
          {% endif %}
        </div><!-- /.box-body -->
      </div>
    {% endif %}

    {% if is_granted('ROLE_OFFICE') and address is defined %}
      {{ macros.box_form_delete(path('app_address_delete', {'id': address.id})) }}
    {% endif %}
  </div>
</div>
