{% import "partials/_macros.html.twig" as macros %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>{{ 'address.label.name'|trans }}</th>
      <th>{{ 'address.label.complete'|trans }}</th>
      <th class="col-sm-1">Actions</th> 
    </tr>
  </thead>
  <tbody>
    {% for entity in entities %}
      <tr>
        <td>{{ entity.name|upper }}</td>
        <td>{{ entity.getLocalAddress }}</td>
        <td><a class="btn btn-block btn-sm btn-info" href="{{ path('app_address_edit', {'id': entity.id}) }}"><i class="fa fa-edit"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
