{% import "partials/_macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'title.page.addresses'|trans }} {% endblock %}
{% block title_page %}{{ 'title.page.addresses'|trans }}{% endblock %}

{% block content %}

{{ macros.back_to_page(path('app_event_index')) }}

<div class="row mb10">
  <div class="col-md-12">
    <div class="btn-group pull-right" role="group">
      <a href="{{ path('app_address_new') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{ 'the_action.add'|trans }}</a>
    </div>
  </div>
</div>

<div class="row">
   <div class="col-md-9">

    <div class="box">
      <div class="box-header with-border">
        <i class="fa fa-list"></i> {{ 'title.block.list'|trans }}
      </div>
      <div class="box-body table-responsive">
        {% if entities|length %}
            {% include "address/_table.html.twig" %}
        {% endif %}
      </div>
      <div class="box-footer clearfix">
        {{ macros.list_numbers_results(entities.totalItemCount) }}
        {{ knp_pagination_render(entities) }}
      </div>
    </div>
  </div>
  <div class="col-md-3">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{ 'the_action.filter_list'|trans }}</h3>
        </div>
        <div class="box-body">
          {{ form_start(formFilters) }}
          {{ form_errors(formFilters) }}
          {{ form_row(formFilters.name) }}
          {{ form_row(formFilters.streetname) }}
        </div>
        <div class="box-footer">
          <button class="btn btn-primary btn-flat btn-block btn-lg" type="submit"><i class="fa fa-fw fa-filter"></i> {{ 'the_action.filter'|trans }}</button>
          <a href="{{ path('app_address_remove_filters') }}" class="btn btn-block btn-default btn-sm"><i class="fa fa-fw fa-refresh"></i>{{ 'the_action.reset'|trans }}</a>
        </div>
        {{ form_end(formFilters) }}
      </div>
  </div>
</div>
{% endblock %}
