{% import "partials/_macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'address.title.create'|trans }} {% endblock %}

{% block title_page %}{{ 'address.title.create'|trans }}{% endblock %}

{% block content %}
{{ macros.back_to_page(path('app_address_index')) }}

<div class="row">
  <div class="col-md-12">
    {% include 'address/_form.html.twig' %}
  </div>
</div>
{% endblock %}
