<div class="row">
    <div class="col-md-5">
        <img src="{{ user.getWebPathUserAvatar | imagine_filter('core_medium') }}" class="img-thumbnail" alt="{{ app.user.displayName }}">
    </div>
    <div class="col-md-7">
        <table class="table table-hover table-bordered">
            <tr>
                <td><strong>{{ 'user.label.lastname'|trans }}</strong></td>
                <td>{{ user.firstname }} {{ user.lastname|upper|truncate(1, false, '.') }}</td>
            </tr>
            <tr>
                <td><strong>{{ 'user.label.age'|trans }}</strong></td>
                <td>{{ display_age(user.birthday) }}</td>
            </tr>
            {% if user.winamax %}
            <tr>
                <td><strong>{{ 'user.label.winamax'|trans }}</strong></td>
                <td>{{ user.winamax }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>

{% if user.quote %}
    <blockquote class="mt10">{{ user.quote }}</blockquote>
{% endif %}
