{% import "partials/_macros.html.twig" as macros %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>{{ knp_pagination_sortable(entities, 'ID', 'u.id') }}</th>
      <th>{{ knp_pagination_sortable(entities, 'profile.label.lastname'|trans({}, 'FOSUserBundle'), 'u.lastname') }}</th>
      <th>{{ 'profile.label.email'|trans({}, 'FOSUserBundle') }}</th>
      <th width="100">Adhérent ?</th>
      <th width="100">{{ 'profile.label.enabled'|trans({}, 'FOSUserBundle') }}</th>
      <th width="100">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for entity in entities %}
    <tr>
      <td>{{ entity.id }}</td>
      <td><a class="modal-show" href="#" data-route="{{ path('app_users_show_ajax', {'id': entity.id}) }}" data-title="{{ entity.displayName|upper }}">{{ entity.displayName|upper }}</td>
      <td>{{ entity.email }}</td>
      <td class="text-center">{{ displayStatusBullet(entity.isMember)|html }}</td>
      <td>{{ macros.form_button_validate(path('app_users_validate', {'id': entity.id}), entity.id, entity.enabled) }}</td>
      <td><a class="btn btn-block btn-sm btn-info" href="{{ path('app_users_edit', {'id': entity.id}) }}"><i class="fa fa-edit"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
