{% import "partials/_macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'user.title.edit'|trans }}{% endblock %}

{% block title_page %}{{ 'user.title.edit'|trans }} - {{ user.displayName()|upper }} {{ displayStatusBullet(user.isMember)|html }} {% endblock %}

{% block content %}
{{ macros.back_to_page(path('app_users_index')) }}

<div class="row">
  <div class="col-md-12">
    {% include "user/_form.html.twig" %}
  </div>
</div>

{% endblock %}
