{% import "partials/_macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'title.page.users'|trans }} {% endblock %}
{% block title_page %}{{ 'title.page.users'|trans }}{% endblock %}

{% block content %}


<div class="row mb10">
  <div class="col-md-12">
    <div class="btn-group pull-right" role="group">
      <a href="{{ path('app_users_new') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{ 'the_action.add'|trans }}</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="box">
      <div class="box-header with-border">
        <i class="fa fa-list"></i> {{ 'title.block.list'|trans }}
      </div>
      <div class="box-body table-responsive no-padding">
        {% if entities|length %}
            {% include "user/_table.html.twig" %}
        {% endif %}
      </div>
      <div class="box-footer clearfix">
        {{ macros.list_numbers_results(entities.totalItemCount) }}
        {{ knp_pagination_render(entities) }}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'the_action.filter_list'|trans }}</h3>
      </div>
      <div class="box-body">
        {{ form_start(formFilters) }}
        {{ form_errors(formFilters) }}
        {{ form_row(formFilters.lastname) }}
        {{ form_row(formFilters.email) }}
        {{ form_row(formFilters.enabled) }}
        {{ form_row(formFilters.createdAt) }}
        {% if formFilters.subscribers is defined %}
            {{ form_row(formFilters.subscribers) }}
        {% endif %}
      </div>
      <div class="box-footer">
        <button class="btn btn-primary btn-flat btn-block btn-lg" type="submit"><i class="fa fa-fw fa-filter"></i> {{ 'the_action.filter'|trans }}</button>
        {{ form_row(formFilters.export) }}
        {{ form_end(formFilters) }}
        {{ macros.box_form_remove_session(path('app_users_remove_filters'), true) }}
      </div>
  </div>
</div>
{% endblock %}
