{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_class%}{{ parent() }} login-page{% endblock %}

{% block wrapper %}
    <div class="text-center">
    {% include "partials/_flash-messages.html.twig" %}
    </div>
    {% block fos_user_content %}{% endblock %}
{% endblock %}
