<div class="box box-widget showEventBloc showEventBloc-2">
    <div class="box-body">
        <h2>{{ event.title }}</h2>
        {% if event.category %}
            <h3>{{ event.category.name }}</h3>
        {% endif %}
        {% if event.director %}
            <p class="mt10">
                <u>{{ 'event.label.director'|trans }} :</u> {{ event.director.displayName }} ({{ event.director.phoneMobile }})
            </p>
        {% endif %}
        {% if event.nbLimitPlayers is not null %}
            <p class="mt10">
            Capacité : {{ event.nbLimitPlayers }} joueurs
            </p>
        {% endif %}
    </div>
</div>
