<div class="box box-widget showEventBloc showEventBloc-1">
    <div class="box-body">
        <p class="pDate text-center ">
            <span class="pDay">{{ event.dateStart|date("d") }} </span>
            <br /> 
            <span class="text-center pMonthYear">{{ event.dateStart|date("m/Y") }}</span>
            <br /><br />
            <i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.dateStart|date("H") }}h{{ event.dateStart|date("i") }}
        </p>
    </div>
</div>
