{% if playersWait|length %}
    <ul class="users-list clearfix">
    {% for playerW in playersWait %}
    <li>
      <a class="modal-show" href="#" data-route="{{ path('app_users_show_ajax', {'id': playerW.id}) }}" data-title="{{ playerW.displayName|upper }}">
      <img src="{{ playerW.getWebPathUserAvatar | imagine_filter('core_players') }}" alt="{{ playerW.firstname }} {{ playerW.lastname|upper|truncate(1, false, '.') }}"></a>
      <a class="modal-show users-list-name" href="#" data-route="{{ path('app_users_show_ajax', {'id': playerW.id}) }}" data-title="{{ playerW.displayName|upper }}">{{ playerW.firstname }} {{ playerW.lastname|upper|truncate(1, false, '.') }}</a>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Personne dans la liste d'attente</p>
{% endif %}
