{% if players|length %}
    <ul class="users-list clearfix">
    {% for player in players %}
    <li>
      <a class="modal-show" href="#" data-route="{{ path('app_users_show_ajax', {'id': player.id}) }}" data-title="{{ player.displayName|upper }}">
      <img src="{{ player.getWebPathUserAvatar | imagine_filter('core_players') }}" alt="{{ player.firstname }} {{ player.lastname|upper|truncate(1, false, '.') }}"></a>
      <a class="modal-show users-list-name" href="#" data-route="{{ path('app_users_show_ajax', {'id': player.id}) }}" data-title="{{ player.displayName|upper }}">{{ player.firstname }} {{ player.lastname|upper|truncate(1, false, '.') }}</a>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucun participant pour le moment</p>
{% endif %}
