<div class="box box-widget showEventBloc">
    <div class="box-header with-border">
        <h3 class="box-title">{{ 'event.label.in'|trans }}</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <p class="nb-players-big text-center">{{ players|length }}</p>
    </div>
</div>
