<div class="box box-widget showEventBloc">
    <div class="box-header with-border">
        <h3 class="box-title">Inscription</h3>
        {% if event.nbLimitPlayers is not null %}
            <div class="pull-right">
            <span class="label label-{{ display_label_class(event.getPlayersRate( (players|length - playersWait|length)  )) }}">{{ players|length }} / {{ event.nbLimitPlayers }}</span>
            </div>
        {% endif %}
    </div><!-- /.box-header -->
    <div class="box-body">
        {% include "event/show/bloc-registration-one.html.twig" %}

        {% if isUserRegisterOnEvent == true %}
            <p class="text-center">
                <a class="btn btn-success" href="{{ path('app_event_unregister_user', {'slug': event.slug}) }}">{{ 'the_action.unregister'|trans }}</a>
            </p>
        {% endif %}

        {% if event.dateLimitParticipation %}
        <p class="box-footer">
            Date limite : <strong>{{ event.dateLimitParticipation|date('d/m/Y H:i') }}</strong>
        </p>
        {% endif %}
     </div>
</div>
