<p class="text-center mt10 mb10">
    <a href="#" data-slug="{{ event.slug }}" class="event-tab-2 btn btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i> {{ 'the_action.refresh'|trans }}</a>
</p>
<div class="tab_2_coverage">
    {% include 'event/_list-coverages.html.twig' with {'coverages': coverages, 'canDelete': false} %}
</div>
