<div class="box box-widget showEventBloc">
    <div class="box-header with-border">
        <h3 class="box-title">{{ 'event.label.address'|trans }}</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        {% if event.address %}
            {% set address = event.address %}
            <address>
                {{ address.number }} {{ address.streetName }}
                <br />
                {{ address.zipcode }} {{ address.city|upper }}
            </address>
            
            {% if address.longitude and address.latitude %}
            <a href="http://maps.google.fr/maps?f=q&hl=fr&q=45.743322500000,-0.640926900000" target="_blank">Voir la carte</a>
            {% endif %}
        {% endif %}
    </div>
</div>
