{% if event.canRegister %}
    {% if event.private == true and app.user.isMember(event.dateStart) == true %}
        {% if isUserRegisterOnEvent == false %}
            <p class="text-center">
                <a class="btn btn-default" href="{{ path('app_event_register_user', {'slug': event.slug}) }}">{{ 'the_action.register'|trans }}</a>
            </p>
        {% endif %}
    {% elseif event.private == false %}
        {% if isUserRegisterOnEvent == false %}
            <p class="text-center">
                <a class="btn btn-default"  href="{{ path('app_event_register_user', {'slug': event.slug}) }}">{{ 'the_action.register'|trans }}</a>
            </p>
        {% endif %}
    {% endif %}
{% endif %}
