{% extends "user/public-forms.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} {{ 'layout.login'|trans }} {% endblock %}

{% block fos_user_content %}
<div class="login-box">
  <div class="login-logo">
    <a href="{{ path('dashboard_homepage') }}">{{ app_title }}</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">{{ 'layout.login'|trans }}</p>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

      <div class="form-group has-feedback">
        <input type="text" id="username" name="_username" class="form-control" required="required" placeholder="{{ 'security.login.username'|trans }}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" id="password" name="_password" class="form-control" required="required" placeholder="{{ 'security.login.password'|trans }}">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary btn-block btn-flat" />
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="{{ path("fos_user_resetting_request") }}">{{ 'password.forgot'|trans }}</a>
    <br />
    <a href="{{ path("fos_user_registration_register") }}">{{ 'title.page.register'|trans }}</a>
  </div>
  <!-- /.login-box-body -->
</div>
{% endblock %}
