{% block subject %}
{% autoescape false %}
{{ 'resetting.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }}
{% endautoescape %}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle')|nl2br }}
{% endautoescape %}
{% endblock %}

{% block body_html %}

    {% embed '::mailer/template.html.twig' %}
        {% block body %}
            <p>
            {{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle')|nl2br }}
            </p>
        {% endblock %}
    {% endembed %}

{% endblock %}
