{% extends "user/public-forms.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} {{ 'title.page.forget_password'|trans }} {% endblock %}

{% block fos_user_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="login-logo">
                <a href="{{ path('dashboard_homepage') }}">{{ app_title }}</a>
            </div>
            <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ 'title.page.forget_password'|trans }}</h3>
                </div>
                <div class="box-body">
                  <p>{{ 'resetting.password_already_requested'|trans }}</p>
                </div>
                <div class="box-footer clearfix">
                    <a href="{{ path('dashboard_homepage') }}">{{ 'title.page.home'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
