{% extends "user/public-forms.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} {{ 'title.page.forget_password'|trans }} {% endblock %}

{% block fos_user_content %}
<div class="register-box">
  <div class="register-logo">
    <a href="{{ path('dashboard_homepage') }}">{{ app_title }}</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">{{ 'title.page.forget_password'|trans }}</p>

    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}

    <br />
    <a href="{{ path('dashboard_homepage') }}" class="text-center">{{ 'title.page.home'|trans }}</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
{% endblock %}
