{% import "partials/_macros.html.twig" as macros %}
{{ form_start(form) }}

<div class="row">
  <div class="col-md-9">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'title.block.informations'|trans }}</h3>
         {% if event is defined %} {{ macros.date_updated(event.updatedAt) }}{% endif %}
      </div>
      <div class="box-body">
        {{ form_errors(form) }}

        {{ form_row(form.title) }}

      <div class="row">
        <div class="col-md-6">{{ form_row(form.dateStart) }}</div>
        <div class="col-md-6">{{ form_row(form.dateEnd) }}</div>
      </div>

      <div class="row">
        <div class="col-md-6">{{ form_row(form.category) }}</div>
        <div class="col-md-6">{{ form_row(form.address) }}</div>
      </div>

      <div class="row">
        <div class="col-md-6">{{ form_row(form.director) }}</div>
        <div class="col-md-6">{{ form_row(form.nbLimitPlayers) }}</div>
      </div>

      <div class="row">
        <div class="col-md-6">{{ form_row(form.dateLimitParticipation) }}</div>
        <div class="col-md-6 pt10">{{ form_row(form.private) }}</div>
      </div>

      {{ form_row(form.description) }}

      {{ form_row(form.resume) }}

      </div><!-- /.box-body -->
    </div>
  </div>

  <div class="col-md-3">
    <div class="box box-primary">
     <div class="box-header with-border">
          <h3 class="box-title">{{ 'title.block.actions'|trans }}</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <button class="btn btn-primary btn-flat btn-block btn-lg" type="submit">{{ 'the_action.submit'|trans }}</button>
      </div><!-- /.box-body -->
    </div>

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'title.block.options_enabled'|trans }}</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
          {{ form_row(form.dateToPublished) }}
          {{ form_row(form.enabled) }}
      </div><!-- /.box-body -->
    </div>

    {{ form_end(form) }}

    {% if is_granted('ROLE_OFFICE') and event is defined %}
      {{ macros.box_form_delete(path('app_event_delete', {'slug': event.slug})) }}
    {% endif %}
  </div>
</div>
