{% import "partials/_macros.html.twig" as macros %}
{% if coverages|length %}
  <div class="direct-chat-messages">
    {% for coverage in coverages %}
      <div class="direct-chat-msg">

        <div class="direct-chat-info clearfix">
          <span class="direct-chat-name pull-left">{{ coverage.createdBy.displayName }}</span>
          <span class="direct-chat-timestamp pull-right">{{ coverage.createdAt|date('d/m/Y H:i:s')}}</span>
        </div>
        <img class="direct-chat-img" src="{{ coverage.createdBy.getWebPathUserAvatar | imagine_filter('core_logo') }}" alt="{{ coverage.createdBy.displayName }}">

        <div class="direct-chat-text">
          <strong>#{{ loop.revindex }}{% if is_granted('ROLE_SUPER_ADMIN') %}-{{ coverage.id }} {% endif %} </strong> {{ coverage.description|nl2br }}
          {% if canDelete is defined and canDelete == true %}
            <div class="mb10 mt10">
              {{ macros.box_form_delete_button(path('app_coverages_event_remove', {'id': coverage.id})) }}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p class="alert alert-info">Aucun coverage</p>
{% endif %}
