<a href="{{ path('app_calendar_event_export_players', {"slug": event.slug, 'order': 'created_at_asc'}) }}" class="btn btn-block btn-sm btn-primary"><i class="fa fa-download" aria-hidden="true"></i> {{ 'event.label.export_players_created_at_asc'|trans }}</a>
<br />
<a href="{{ path('app_calendar_event_export_players', {"slug": event.slug, 'order': 'created_at_desc'}) }}" class="btn btn-block  btn-sm btn-primary"><i class="fa fa-download" aria-hidden="true"></i> {{ 'event.label.export_players_created_at_desc'|trans }}</a>
<br />
<a href="{{ path('app_calendar_event_export_players', {"slug": event.slug, 'order': 'rand'}) }}" class="btn btn-block  btn-sm btn-primary"><i class="fa fa-download" aria-hidden="true"></i> {{ 'event.label.export_players_rand'|trans }}</a>
