{% import "partials/_macros.html.twig" as macros %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>{{ knp_pagination_sortable(entities, 'ID', 'e.id') }}</th>
      <th>{{ knp_pagination_sortable(entities, 'event.label.category'|trans, 'e.category.name') }}</th>
      <th>{{ knp_pagination_sortable(entities, 'event.label.title'|trans, 'e.title') }}</th>
      <th>{{ knp_pagination_sortable(entities, 'event.label.dateStart'|trans, 'e.dateStart') }}</th>
      <th width="120">{{ 'event.label.in'|trans }}</th>
      <th width="100">{{ 'event.label.coverages'|trans }}</th>
      <th width="100">{{ 'event.label.enabled'|trans }}</th>
      <th width="100">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for entity in entities %}
    <tr>
      <td>{{ entity.id }}</td>
      <td>{{ entity.category ? entity.category.name|truncate(5, false, '.') : '' }}</td>
      <td>{{ entity.title }}</td>
      <td>
        {{ entity.dateStart|date('d/m/Y H:i') }}
        {% if entity.dateEnd %}
        <br />
        {{ entity.dateEnd|date('d/m/Y H:i') }}
      {% endif %}
      </td>
      <td class="text-center">
        {% if entity.nbLimitPlayers is not null and entity.nbLimitPlayers != 0 %}
        <span class="label label-{{ display_label_class(entity.getPlayersRate((entity.eventsUser|length))) }}">{{ entity.eventsUser|length }} / {{ entity.nbLimitPlayers }}</span>
        {% endif %}
        <a class="modal-show" href="#" data-route="{{ path('app_calendar_event_show_popup_export_players', {'slug': entity.slug}) }}" data-title="{{ 'event.label.export_players'|trans }}">Export</a>
      </td>
      <td class="text-center"><a href="{{ path('app_coverages_event', {'slug': entity.slug}) }}" title="Coverage"> <span class="badge">{{  entity.coverages|length }}</span></a></td>
      <td>{{ macros.form_button_validate(path('app_event_validate', {'slug': entity.slug}), entity.id, entity.enabled) }}</td>
      <td><a class="btn btn-block btn-sm btn-info" href="{{ path('app_event_edit', {'slug': entity.slug}) }}"><i class="fa fa-edit"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
