
{% if events|length > 0 %}
<script src='{{ asset('dist/js/app_calendar.js') }}'></script>
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            defaultDate: '{{ "now"|date('Y-m-d') }}',
            navLinks: true, // can click day/week names to navigate views
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for event in events %}
                    {
                        id: {{ event.id }},
                        title: '{{ event.title }}',
                        start: "{{ event.dateStart|date("Y-m-d H:i") }}",
                        url: "{{ path('app_event_show', {'slug': event.slug}) }}",
                        {% if event.dateEnd %}
                            end: "{{ event.dateEnd|date("Y-m-d H:i") }}",
                        {% endif %}
                        {% if event.category %}
                            color: "{{ event.category.color }}"
                        {% endif %}
                    },
                {% endfor %}
            ]
        });
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ 'event.title.events'|trans }}</h3>
            </div>
            <div class="box-body">
                <div class="col-md-8">
                    <p>Cliquer sur un événement pour vous voir le détail de la partie</p>
                    <div id="calendar"></div>
                    
                </div>
                <div class="col-md-4">
                    {{ render(controller('AppBundle:Category:legend')) }}
                    {{ render(controller('AppBundle:Calendar:nextUserEvents')) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
