{% import "partials/_macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'title.page.coverage'|trans }} {% endblock %}
{% block title_page %}{{ 'title.page.coverage'|trans }} - {{ event.category ? event.category.name : '' }} {{ event.dateStart|date('d/m/Y H:i') }}, {{ event.title }} {% endblock %}

{% block content %}
{{ macros.back_to_page(path('app_event_index')) }}

<div class="row mb10">
  <div class="col-md-12">
    {{ form_start(form) }}
    <div class="box box-primary">
     <div class="box-header with-border">
          <h3 class="box-title">Enregistrer une action</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        {{ form_errors(form) }}
        {{ form_row(form.description) }}
      </div><!-- /.box-body -->
      <div class="box-footer">
        <button class="btn btn-primary btn-flat btn-block btn-lg" type="submit">{{ 'the_action.submit'|trans }}</button>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>

<div class="row">
   <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <i class="fa fa-list"></i> {{ 'title.block.list'|trans }} des actions
      </div>
      <div class="box-body table-responsive">
        {% include 'event/_list-coverages.html.twig' with {'coverages': coverages, 'canDelete': true} %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
