{% import "partials/_macros.html.twig" as macros %}

{% if events|length %}

    <h4 class="h4Dashboard">{{ 'event.title.next_user_events'|trans }}</h4>

    {% for event in events %}
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-android-done-all"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{ event.category ? event.category.name ~ ' - ' : ''}} {{ event.title }}</span>
                <span class="info-box-number">{{ event.dateStart|date('d/m/Y H:i') }}</span>
                <a href="{{ path('app_event_show', {'slug': event.slug}) }}">Voir l'évenement</a>
            </div>
        </div>
    {% endfor %}
{% endif %}
