{% import "partials/_macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ event.displayName }} {% endblock %}

{% block title_page %} {{ event.dateStart|date('l')|trans }} {{ event.displayName }}{% endblock %}

{% block bodyId %}show-event{% endblock %}

{% block content %}

{{ macros.back_to_page(path('dashboard_homepage')) }}

{{ event.private == true ? '<p><span class="label label-danger">Partie réservée aux adhérents</span></p>' : '' }}

<div class="row">
    <div class="col-xs-12 col-md-2">
        {% include "event/show/bloc-date.html.twig" %}
    </div>
    <div class="col-xs-12 col-md-4">
        {% include "event/show/bloc-details.html.twig" %}
    </div>
    <div class="col-xs-12 col-md-3">
        {% include "event/show/bloc-registration.html.twig" %}
    </div>
    <div class="col-xs-12 col-md-3">
        {% include "event/show/bloc-address.html.twig" %}
    </div>
</div>

{% include "event/show/bloc-description.html.twig" %}

<div class="row">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">{{ 'event.label.in'|trans }} <span class="badge">{{ players|length }}</span></a></li>
              <li class=""><a href="#tab_1bis" data-toggle="tab" aria-expanded="true">{{ 'event.label.wait'|trans }} <span class="badge">{{ playersWait|length }}</span></a></li>
              <li class=""><a href="#tab_2" data-toggle="tab" class="event-tab-2" data-slug="{{ event.slug }}" aria-expanded="false">{{ 'event.label.coverages'|trans }}</a></li>
              {% if event.resume %}
                <li class=""><a href="#tab_4" data-toggle="tab" class="event-tab-4" aria-expanded="false">{{ 'event.label.resume'|trans }}</a></li>
              {% endif %}
              <li class="pull-right"><div class="loading"><img src="{{ asset('dist/img/loading.gif') }}" /> Chargement en cours...</div></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                {% include "event/show/bloc-tab-one.html.twig" %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_1bis">
                {% include "event/show/bloc-tab-one-bis.html.twig" %}
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                {% include "event/show/bloc-tab-two.html.twig" %}
              </div>
              <!-- /.tab-pane -->
             {% if event.resume %}
                <div class="tab-pane" id="tab_4">
                    {{ event.resume|html }}
                </div>
             {% endif %}
            </div>
            <!-- /.tab-content -->
          </div>
    </div>
</div>

{% endblock %}

 {% if event.address %}
    {% set address = event.address %}
    {% if address.isFullAddress %}
        {% block embeb_googlemap %}  {{ macros.embed_googlemap(address) }}{% endblock %}
    {% endif %}
{% endif %}
