{% block subject %}{% endblock %}
{% block body_text %}{% endblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>

    <tr align="center">
        <td>{{ app_title }}</td>
    </tr>
    <tr align="center" height="18px">
        <td style="height:18px"></td>
    </tr>
    <tr align=right>
        <td align=right bgcolor="#666" color="#FFF" style="padding-top:10px; padding-bottom:10px;padding-right:10px;background-color:#666;color:#fff;font-family:Questrial">{{ "now"|date('d/m/Y H:i')}}</td>
    </tr>
    <tr height="5px">
        <td style="height:5px;background-color:#999"></td>
    </tr>
    <tr height="2px">
        <td style="height:2px;background-color:#FFFFFF"></td>
    </tr>
    <tr>
        <td style="padding-top:10px; padding-left:10px;padding-bottom:10px;background-color:#FFFFFF;color:#000;font-family:Questrial">
            {% block body %}{% endblock %}
            {% block footer %}
            <br>
            Cordialement,<br />
            {{ app_title }}<br />
            {% endblock %}

            <p>
                <a href="{{ url_site }}" style="color:#000000">{{ url_site }}</a><br />
            </p>
        </td>
    </tr>
    </tbody>
</table>

</html>
