Bonjour, 

Votre compte est désormais activé sur {{ app_title }}.
Vous pouvez dès à présent vous connecter à l’aide des identifiants suivants : 

Identifiant : {{ user.username }}
Mot de passe : {{ plainPassword }}
