{% extends 'mailer/template.html.twig' %}

{% block body %}
<p>Bonjour, </p>

<p>Votre compte est désormais activé sur {{ app_title }}. </p>
<p>Vous pouvez dès à présent vous connecter à l’aide des identifiants suivants : </p>

<p>
    Identifiant : {{ user.username }}<br />
    Mot de passe : {{ plainPassword }}
</p>
{% endblock %}
