{% extends 'mailer/template.html.twig' %}

{% block body %}
<p>Bonjour {{ user.displayName(true) }}.</p>

<p>
Nous vous remercions d'avoir activé votre compte sur le site {{ app_title }}.<br /> 
Vous pouvez à présent vous connecter en utilisant vos identifiants.
</p>

{% endblock %}
