#calendar {
    border:1px solid @color_grey_clear;
}

#circle-nbLimitPlayers{
    width:70%;
}

#circle-nbLimitPlayers-show {
   /* width:60%;*/
    margin-top: -20px
}

.clubInfos {
    color: @color_grey_clear;
    padding-left:10px;
}

.content-header  {
    h1 {
        border-bottom: 1px solid @color_grey_clear;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
}

.content-wrapper {
    background-color: #f3f3f4;
}

#embed-map{ width:100%;height:400px; }

.login-box,
.register-box {
    margin-top:100px;
}

.login-page{
    background-color:@color_grey_dark_plus;

    .login-logo a,
    .register-logo a{
        color:#fff;
    }
}

.main-header { 
    .logo { font-size: 18px; }
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height:80px;
    padding-top:8px;
}

.nb-players-big {
    font-size:64px;
}

.h4Dashboard {
    margin-top:0;
    background-color: @color_grey_minus;
    color: @color_white;
    padding: 5px 0 5px 5px;
}

#show-event {

    h2 {
        font-size:24px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 0;
    }

    .showEventBloc {
        height:150px;
    }

    .showEventBloc-2 {

        h2 {
            margin-bottom: 0;
        }
        h3 {
            margin-top: 0;
            font-size:20px;
        }
    }

    .showEventBloc-1 {
    }

    .pDate{
        line-height:0.8;
        margin-top:10px;
    }

    .pDay{
        font-size:72px;
    }

    .pMonthYear{
        font-size:32px;
    }
}

.popover{
  color: @color_grey_minus;
}

.progress-description {
    a {
        color: @color_white;
    }
}

.redBUtton{
    background-color: @color_red_bordeaux;
    color:@color_white
}

.register-box {width:800px;}

.row--margin-bottom {
    margin-bottom: 1em;
}

.skin-red {
    .main-header {
        .logo {
            background-color: @color_black;

            &:hover {
              background-color: @color_black;
            }
        }
    }

    .sidebar-menu{
        margin-top: 10px
    }

    .sidebar-menu > li.header {
        background-color: @color_grey_dark_plus;
        color: @color_white;
    }
}

.small-box {
    h3 {
        font-size: 20px;
        margin-bottom: 12px;
    }
}

#toTop {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 80px;
    height: 80px;
    background-image: url('/dist/img/scrolltop.png');
    background-repeat: no-repeat;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */

    &:hover {
        opacity: 0.8;
        filter: alpha(opacity=80); /* For IE8 and earlier */
    }
}

.user-header {
    a {
        color: @color_white;
    }
}

#userEdit {
    .tab-content {margin-top: 20px;}
}

/*.user-panel-app {height:40px !important}
.user-panel-app>.info {padding-left: 0}*/