a {
    color: @color_grey_dark;
}

form{
    .required{
        &:after{
          content:' *';
          color:red;
        }
    }
}

img{
    max-width:100%;
    height:auto;
}

ul ul{
    margin-top: 20px;
}

.mb10{margin-bottom:10px;}
.mt10{margin-top:10px;}
.pb10{margin-bottom:10px;}
.pt10{margin-top:10px;}

table {
  a {
    .sortable{
      padding-right:20px;
      background:transparent url('/dist/img/sort.png') no-repeat right center;
    }

    .asc{
      padding-right:20px;
      background:transparent url('/dist/img/sort.png') no-repeat right 8px;
    }

    .desc{
      padding-right:20px;
      background:transparent url('/dist/img/sort.png') no-repeat right -6px;
    }
  }
}

.ui-tooltip{display:none !important}
.loading {display:none;font-weight:bold}
.select2{width:98%}
.select2-results__option {
  text-transform:uppercase;
}
.none{display: none}