// Colors
@color_black: #000000;
@color_blue: #415A77;
@color_green_success: #00a65a;
@color_grey_clear: #CECECE;
@color_grey_dark: #333333;
@color_grey_dark_plus: #444444;
@color_grey_minus: #777777;
@color_grey_soft: #dddddd;
@color_red_bordeaux: #BA1200;
@color_white: #FFFFFF;