{% import "partials/_macros.html.twig" as macros %}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'title.page.dashboard'|trans }}{% endblock %}

{% block title_page %}{{ 'title.page.dashboard'|trans }}{% endblock %}

{% block content %}

    <div class="row">
        {% if app.user.endDateSubscription is not null %}
            {{ macros.widget_homepage_two('ios-person', path('fos_user_profile_show'), 'user.label.end_date_subscription', app.user.endDateSubscription ? app.user.endDateSubscription|date('d/m/Y') : '~', display_widget_color(app.user.endDateSubscription), 'title.page.my_profile') }}
        {% endif %}
        {{ macros.widget_homepage_two('ios-calendar', null, 'total_next_events'|transchoice(app.user.userEvents|length), app.user.userEvents|length,  'blue', null) }}
        {% if is_granted('ROLE_OFFICE') %}
            {{ macros.widget_homepage_two('ios-people', path('app_users_index'), 'total_users'|transchoice(users_count), users_count,  'blue', 'the_action.see_list') }}
            {{ macros.widget_homepage_two('ios-calendar', path('app_event_index'), 'total_events'|transchoice(events_count), events_count,  'blue', 'the_action.see_list') }}
            {#
            {{ macros.widget_homepage_two('ios-pricetags', path('app_category_index'), 'total_categories'|transchoice(categories_count), categories_count,  'blue', 'the_action.see_list') }}
            {{ macros.widget_homepage_two('ios-home', path('app_address_index'), 'total_addresses'|transchoice(addresses_count), addresses_count,  'blue', 'the_action.see_list') }}
            #}
        {% endif %}
    </div>

    {{ render(controller('AppBundle:Calendar:show')) }}

{% endblock %}
